/* Empty. Add your own CSS if you like */
#offerModal .button.ion-heart {
    color: red;
    font-size: 20px;
    background-color: transparent;
}

#main-img {
    width: 100%;
}

#offerModal .description {
    text-align: center;
    color: #909090;
}

#quantity {
    width: 100px;
    height: 40px;
}

#quantity select {
    margin: 0 40px 0 0;
    padding: 0;
    width: 100px;
}

#total-price {
    font-size: 20px;;
    line-height: 40px;
    vertical-align: middle;
}