<ion-view view-title="{{ offer.name }}">
    <ion-nav-buttons side="secondary">
        <button class="button">
            <button class="button ion-heart" data-pack="default" data-tags="love"></button>
        </button>
    </ion-nav-buttons>
    <ion-content  class="padding">
        <div class="row">
            <div class="col">
                <img id="main-img" ng-src="{{ offer.imageUrl }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-80 description">
                {{ offer.description }}
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row">
            <div class="col-20"></div>
            <div class="col-30">
                <div class="text-center">Quantity</div>
                <label class="item item-input item-select" id="quantity">
                    <select ng-model="offer.quantity">
                        <option value="{{ option }}" ng-repeat="option in [1, 2, 3]" ng-selected="option == offer.quantity">{{ option }}</option>
                    </select>
                </label>
            </div>
            <div class="col-10"></div>
            <div class="col-30">
                <div class="text-center">Total</div>
                <span id="total-price">{{ offer.quantity * offer.price | currency: '€' }}</span>
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row">
            <button class="button button-block button-balanced" ng-click="buy()">
                Buy for {{ offer.quantity * offer.price | currency: '€' }}
            </button>
        </div>
    </ion-content>
</ion-view>