<ion-modal-view id="offerModal">
    <ion-header-bar>
        <h1 class="title">{{ offer.name }}</h1>
        <div class="buttons">
            <button class="button ion-heart" data-pack="default" data-tags="love"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <img id="main-img" ng-src="{{ offer.imageUrl }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-80 description">
                {{ offer.description }}
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row">
            <div class="col-20"></div>
            <div class="col-30">
                <label class="item item-input item-select item-light">
                    <div class="input-label">

                    </div>

                    <select>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>

                </label>
            </div>
            <div class="col-40"></div>
            <div class="col-10"></div>
        </div>
        <div class="row">
            <button class="button button-block button-balanced" ng-click="buy()">
                Buy {{ offer.price | currency: '€' }}
            </button>
        </div>
        <div class="row">
            <button class="button button-block button-outline button-dark" ng-click="closeModal()">
                Dismiss deal
            </button>
        </div>
    </ion-content>
</ion-modal-view>