<ion-view view-title="{{chat.name}}">
	<ion-nav-title>
	  Deal Me In: Qour tastes
	</ion-nav-title>

  <ion-content class="padding">
    <ion-list>

    <ion-checkbox ng-model="filter.blue">Bakery</ion-checkbox>
    <ion-checkbox ng-model="filter.yellow">Daily</ion-checkbox>
    <ion-checkbox ng-model="filter.gris">Butchery</ion-checkbox>
    <ion-checkbox ng-model="filter.red">Pharmacy</ion-checkbox>
    <ion-checkbox ng-model="filter.black">Coiffeur</ion-checkbox>
    <ion-checkbox ng-model="filter.white">Fashion</ion-checkbox>

  </ion-list>
  </ion-content>
</ion-view>