<ion-view view-title="Deal me in">
  <ion-content class="padding">
    <h2>Welcome to Deal Me In</h2>
    <p>
    Deal Me In is an app that alerts you of nearby offers on the fly. With Deal Me In you can catch instant offers launched by sellers who want to get rid of their stock left overs
    </p>

    <div class="list">
      <a class="item item-thumbnail-left" ui-sref="tab.deal({id: key})" ng-repeat="(key, deal) in items">
        <img ng-src="{{ deal.imageUrl }}">
        <h2>{{ deal.name }}</h2>
        <p>{{ deal.description }}</p>
      </a>
    </div>

    <button class="button button-block" ng-click="openModal()"></button>
  </ion-content>
</ion-view>
