<ion-view view-title="Dashboard">
	<ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-settings" ui-sref="tab.settings">
      </button>
    </ion-nav-buttons>

  <ion-content class="padding">
    <h2>Welcome to Deal Me In</h2>
    <p>
    Deal Me In is an app that alerts you of nearby offers on the fly. With Deal Me In you can catch instant offers launched by sellers who want to get rid of their stock left overs
    </p>
    <button class="btn" ng-click="openModal()">Open</button>
  </ion-content>
</ion-view>
