<div class="">
    <div class="block-container row">
        <div class="col-sm-6">
            <h2>Item stock throughout the day <span class="pull-right">{{ sold }}/{{ produced }}</span></h2>

            <canvas id="line"
                    class="chart chart-line"
                    chart-data="data"
                    chart-labels="labels"
                    chart-legend="true"
                    chart-series="series"
                    chart-click="onClick">
            </canvas>
        </div>
        <div class="col-sm-6">
            <h2>Deal success over time<span class="pull-right">{{ accepted }}/{{ sent }}</span></h2>

            <canvas id="bar"
                    class="chart chart-bar"
                    chart-data="dataBar"
                    chart-labels="labelsBar"
                    chart-series="seriesBar">
            </canvas>
        </div>
    </div>

    <div class="row mt50">
        <div class="col-sm-6">
            <canvas id="doughnut"
                    class="chart chart-doughnut"
                    chart-data="dataPie"
                    chart-labels="labelsPie"
                    chart-options="optionsPie">
            </canvas>
        </div>
        <div class="col-sm-6">
            <h2>Accepted deals</h2>
            <p>
                This graph shows the relative success of each type of bakery item
            </p>
            <p>
                "Breads" vs "Pastries"
            </p>
        </div>
    </div>
</div>